.simon-berger-twukn12en7c-unspl-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 720px;
  object-fit: cover;
}
.bxshide-icon {
  position: absolute;
  top: 247px;
  left: 525px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.create-account {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 35px;
  letter-spacing: 0.02em;
  line-height: 122.69%;
  color: #000;
}
.group-child,
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  border: 2px solid #162c57;
  box-sizing: border-box;
  width: 250px;
  height: 63px;
  opacity: 0.8;
}
.group-item {
  left: 299px;
}
.sign-up-with,
.sign-up-with1 {
  position: absolute;
  top: 23px;
  letter-spacing: 0.02em;
  line-height: 122.69%;
}
.sign-up-with {
  left: 77px;
  cursor: pointer;
}
.sign-up-with1 {
  left: 375px;
  color: #00040b;
}
.icons8-github-1,
.icons8-google-1 {
  position: absolute;
  top: 9px;
  left: 18px;
  width: 44px;
  height: 44px;
  overflow: hidden;
}
.icons8-github-1 {
  height: 67.4%;
  width: 8.2%;
  top: 32.6%;
  right: 34.43%;
  bottom: 0;
  left: 57.38%;
  max-width: 100%;
  max-height: 100%;
}
.rectangle-parent {
  position: absolute;
  top: 518px;
  left: 0;
  width: 549px;
  height: 67.91px;
  cursor: pointer;
  font-size: 13px;
  color: #000;
}
.group-child1,
.group-inner,
.line-div {
  position: absolute;
  top: 115.5px;
  left: -0.5px;
  border-top: 1px solid #101b07;
  box-sizing: border-box;
  width: 550.01px;
  height: 1px;
}
.group-child1,
.line-div {
  top: 191.5px;
}
.group-child1 {
  top: 274.5px;
}
.full-name {
  position: absolute;
  top: 87px;
  left: 1px;
  letter-spacing: 0.02em;
  line-height: 122.69%;
}
.span {
  color: #162b54;
}
.log-in {
  color: #1c5931;
}
.already-have-an-container,
.email-address,
.password {
  position: absolute;
  left: 1px;
  letter-spacing: 0.02em;
  line-height: 122.69%;
}
.already-have-an-container {
  top: 397px;
  font-size: 17px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.58);
}
.email-address,
.password {
  top: 163px;
}
.password {
  top: 246px;
}
.rectangle-iv {
  position: relative;
  top:45%;
  left: 0;
  border-radius: 8px;
  background-color: #306b2b;
  width: 547px;
  height: 51px;
}

.create-account1 {
  
  top: 80%;
  left: 195px;
  letter-spacing: 0.02em;
  line-height: 122.69%;
  color: #000308;
}
.group-child2,
.line-icon {
  position: absolute;
  top: 9.93px;
  left: -0.01px;
  width: 202.01px;
  height: 3.07px;
}
.group-child2 {
  top: 10.5px;
  left: 345.5px;
  border-top: 1px solid #3f7aee;
  box-sizing: border-box;
  width: 202px;
  height: 1px;
}
.or-sign-in {
  position: absolute;
  top: 0;
  left: 213px;
  letter-spacing: 0.02em;
  line-height: 122.69%;
}
.line-parent {
  position: absolute;
  top: 471px;
  left: 2px;
  width: 547px;
  height: 21px;
  font-size: 17px;
  color: #7da9ff;
}
.bxshide-parent,
.signup-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 549.01px;
  height: 585.91px;
}
.signup-inner {
  top: 82px;
  left: 735px;
  width: 549px;
  height: 591px;
}
.vector-icon,
.vector-icon1,
.vector-icon2 {
  position: absolute;
  height: 8.7%;
  width: 9.07%;
  top: 89.68%;
  right: 84.58%;
  bottom: 1.62%;
  left: 6.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1,
.vector-icon2 {
  height: 8.5%;
  top: 90.08%;
  right: 69.84%;
  bottom: 1.42%;
  left: 21.09%;
}
.vector-icon2 {
  height: 7.26%;
  width: 8.16%;
  top: 90.69%;
  right: 56.01%;
  bottom: 2.05%;
  left: 35.83%;
}
.carbonlogo-discord-icon {
  position: absolute;
  top: 439px;
  left: 219px;
  width: 50px;
  height: 48px;
  overflow: hidden;
}
.bongojourneyai,
.lorem-ipsum-dolor {
  position: absolute;
  left: 20px;
  display: inline-block;
}
.bongojourneyai {
  top: 0;
  letter-spacing: 0.03em;
  line-height: 122.69%;
  text-transform: uppercase;
  font-weight: 600;
  width: 421px;
  height: 101px;
}
.lorem-ipsum-dolor {
  top: 76px;
  font-size: 20px;
  letter-spacing: -0.01em;
  line-height: 111.19%;
  color: #ebebeb;
  width: 269px;
  height: 74px;
}
.vector-parent {
  position: absolute;
  top: 173px;
  left: 43px;
  width: 441px;
  height: 494px;
}
.frame-child,
.frame-parent {
  position: absolute;
  background-color: #000;
}
.frame-child {
  top: 238px;
  left: 483.91px;
  width: 171.18px;
  height: 170.65px;
  transform: rotate(44.17deg);
  transform-origin: 0 0;
}
.frame-parent {
  top: 0;
  left: 0;
  width: 40%;
  height: 720px;
  font-size: 40px;
  color: #fff;
}
.signup {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 720px;
  overflow: hidden;
  text-align: left;
  font-size: 19px;
  color: #04260c;
  font-family: Poppins;
}
